{
	"plugins": [
		["babel-plugin-styled-components", { "ssr": true, "displayName": true }],
		"react-html-attrs"
	],
	"presets": ["next/babel", "@babel/preset-typescript"],
	"env": {
		"test": {
			"plugins": [
				["babel-plugin-styled-components", { "ssr": false, "displayName": false }]
			]
		}
	}
}